.div {
    display: flex;
}

.paperhomevendedor {
    margin-top: 15px;
    border: solid 1px lightgray;
    width: 800px;
    height: 400px;
    padding: 24px;
}

.paperhome {
    border: solid 1px lightgray;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-top: 15px;
    width: 400px;
    height: 400px;
    padding: 24px;
}

.left-sidebar {
    margin-left: 100px;
    border: solid 1px lightgray;
    margin-right: 100px;
    margin-top: 15px;
    width: 250px;
    height: 400px;
    padding: 24px;
}

